@page
@using R8.Lib
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@section Breadcrumbs
{
    <breadcrumb>Test</breadcrumb>
    <breadcrumb />
}
<div class="text-center">
    <h1 class="display-4">@Localizer["AppName"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form method="post" enctype="multipart/form-data">
    <input asp-for="Test" />
    <input type="submit" value="Upload" />
</form>

<a asp-page-handler="UpdateLocalizer">
    Update Localizer
</a>

@{
    var timeZones = Dates.GetNodaTimeZones().ToList();
    var timeZonesList = timeZones
        .Select(tz => new SelectListItem
        {
            Text = tz.ToString(),
            Value = tz.NodaTimeZone.Id,
        }).ToList();
}
<div class="input-group col-12 flex-xl-wrap">
    <select asp-items="timeZonesList" readonly class="custom-select"></select>
</div>